{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block main %}
<main>
    <div class="container">
        <h1 class="mt-4 mb-4 text-center">ORM IN DJANGO</h1>
        <div class="row justify-content-center">

            {% for university in universities %}
            <div class="col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ university.name }}</h4>
                        <p class="card-text">{{ university.location }}</p>
                        <p class="card-text">{{ university.established_year }}</p>
                        <p class="card-text">{{ university.is_public }}</p>
                        <p class="card-text">{{ university.ranking }}</p>
                        <p class="card-text">{{ university.website }}</p>
                        {% if university.departments.all %}
                        <h5 class="mt-3">Departments:</h5>
                        <ul class="list-group list-group-flush">
                            {% for dept in university.departments.all %}
                            <li class="list-group-item">{{dept.university.name}} </li>
                            <li class="list-group-item">{{dept.name}} </li>
                            <li class="list-group-item">{{dept.head_of_department}} </li>
                            <li class="list-group-item">{{dept.established_year}} </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <p class="text-muted mt-2">No departments available.</p>
                        {% endif %}

                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</main>
{% endblock main %}
